@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    color: white;
    background-color: #f4f4f4;
    transition: background-color 1s ease;
  }

  /* panel styles */
  .panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    font-family: 'Merriweather',sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }
  
  /* colours */
  .color-violet {
    background-color: #7A4EAB;
  }
  .color-indigo {
    background-color: #4332CF;
  }
  .color-blue {
    background-color: #2F8FED;
  }
  .color-green {
    background-color: #4DCF42;
  }
  .color-yellow {
    background-color: #FAEB33;
  }
  .color-orange {
    background-color: #F19031;
  }
  .color-red {
    background-color: #F2293A;
  }
  
  /* styling for demo, can ignore */
  body {
    font-size: 115%;
    line-height: 1.618;
  }
  h1, h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
  }
  h3{
      font-size:1.8em;
  }

  a {
    color: #4332CF;
    font-size: 110%;
    text-decoration-line: none;
  }

  a:hover{
      color:red;
  }
  
  a:visited{
      columns:#4332CF;
  }

  #firstScreen{
      background-image: url(image/bgPic.jpg);
      background-size: cover;
      background-repeat: no-repeat; 
      text-align: center;
      padding-top:20%;
      padding-left:5%;
      padding-right:5%;
      box-sizing: border-box;
  }
  .grayEffect{
    background-color: rgba(60, 60, 60, 0.5);
  }
 
  #black{
    color: black;
  }
  #white{
    color: white;

  }
  .center {
    text-align: center;
    padding:8%;
    box-sizing: border-box;
  }
  .keyTitle{
    width:50%;
    float:left;
    text-align: center;
  }
  .contents{
      width:50%;
      float:right;
  }

  .main-container{
    min-height: 100vh;
    margin-left: 5%;
    margin-right:5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.skill-container{
    float:left;
    margin: auto;
}
  .keyTitle-skill{
    width:100%;
    float:none;
    text-align: center;
  }
  .contents-skill{
    min-width: 50%;  
    float: left;
    box-sizing: border-box;
  }

  .contact{
      font-size:140%;
  }

  footer{
     text-align: center;
     background: gray;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


  @media only screen and (max-device-width : 700px){
    body {
        font-size: 100%;
        line-height: 1.618;
      }
    #firstScreen{
        background-image: url(image/bgPic.jpg);
        background-size: cover;
        background-repeat: no-repeat; 
        text-align: center;
        padding-top:200px;
        padding-left:5%;
        padding-right:5%;
        box-sizing: border-box;
    }
    .center {
        text-align: center;
        padding-bottom:40%;
        padding-left:10%;
        padding-right:10%;
        box-sizing: border-box;
      }
      h1, h2 {
        font-size: 2em;
        letter-spacing: -0.05em;
        line-height: 1.1;
      }
      h3{
          font-size:1.5em;
      }
      .center {
        text-align: center;
        padding-top:70%;
        box-sizing: border-box;
      }
      .keyTitle{
        width:100%;
        float:none;
        margin: auto;
        text-align: left;
        padding:5px;
      }
      .contents{
          width:100%;
          float:none;  
          margin: auto;
          padding:5px;
      }
      .main-container{
        display: block;
      }
      .skill-container{
        float:none;
        margin: auto;
    }
      
 
      .contact{
        font-size:110%;
    }
    footer{
        text-align: center;
        background: gray;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.8em;
     }
}
